/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

/* This devicetree overlay file will be automatically picked by the Zephyr
 * build system when building the sample for the nucleo_f302r8 board. It shows
 * how the example-application can be built on sample boards already provided
 * by Zephyr.
 */

#include <zephyr/dt-bindings/led/led.h>

/ {
	zephyr,user {
		io-channels = <&adc0 0>;
	};

	leds {
		compatible = "gpio-leds";
		led0: led_0 {
			gpios = <&gpio0 5 GPIO_ACTIVE_LOW>;
		};
	};

	buttons {
		compatible = "gpio-keys";
		button1: button_1 {
			gpios = < &gpio0 17 (GPIO_PULL_UP | GPIO_ACTIVE_LOW) >;
			label = "Animation Control Button";
		};
	};

	aliases {
		led-strip = &led_strip;
		ctrl-btn = &button1;
		//led-strip-spi = &led_strip_spi;
	};
};

&adc0 {
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_4";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,resolution = <12>;
	};
};

//&spi2
//{
//	status = "okay";
//	#address-cells = <1>;
//	#size-cells = <0>;
//	pinctrl-0 = <&spim2_default>;
//	pinctrl-names = "default";
//
//	/* Workaround to support WS2812 driver */
//	line-idle-low;
//
////	led_strip_spi: ws2812@0 {
////		compatible = "worldsemi,ws2812-spi";
////
////		/* SPI */
////		reg = <0>; /* ignored, but necessary for SPI bindings */
////		spi-max-frequency = <6400000>;
////
////		/* WS2812 */
////		chain-length = <11>;
////		spi-cpha;
////		spi-one-frame = <0xf0>;  /* 625 ns high and 625 ns low */
////		spi-zero-frame = <0xc0>; /* 312.5 ns high and 937.5 ns low */
////		color-mapping = <LED_COLOR_ID_GREEN
////						 LED_COLOR_ID_RED
////						 LED_COLOR_ID_BLUE>;
////	};
//};
//
//&spim2_default {
//	group1 {
//		pinmux = <SPIM2_MOSI_GPIO37>;
//	};
//};



&i2s0_default {
	group1 {
		pinmux = <I2S0_O_SD_GPIO38>;
	};
};

i2s_led: &i2s0 {
	status = "okay";

	dmas = <&dma 3>;
	dma-names = "tx";

	led_strip: ws2812@0 {
		compatible = "worldsemi,ws2812-i2s";

		reg = <0>;
		chain-length = <36>;
		color-mapping = <LED_COLOR_ID_GREEN
						 LED_COLOR_ID_RED
						 LED_COLOR_ID_BLUE>;
		lrck-period = <7>;
	};
};

&gpio0 {
	status = "okay";
};

&dma {
	status = "okay";
};